.header {
  height: 525px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
}
.header section {
  padding-top: 120px;
  padding-left: 121px;
}
.header section h1 {
  font-size: 40px;
  color: #005fee;
  padding-bottom: 10px;
}
.header section h1 span {
  color: #000;
  padding-right: 24px;
}
p {
  padding-bottom: 10px;
  color: #000;
}
header section a {
  color: #000;
  border-bottom: 1px solid #000;
}
.avatarContainer {
  -webkit-box-shadow: 2px 4px 38px 0px rgba(0, 95, 238, 1);
  -moz-box-shadow: 2px 4px 38px 0px rgba(0, 95, 238, 1);
  box-shadow: 2px 4px 38px 0px rgba(0, 95, 238, 1);
  border-radius: 50%;
  overflow: hidden;
  height: 80%;
  margin-right: 121px;
  margin-top: 20px;
}
.avatarContainer .avatar {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
@media (max-width: 480px) {
  .header {
    padding: 2em 0;
    flex-direction: column;
    align-items: center;
  }
  .header section {
    padding: 0;
  }
  .header section h1 {
    font-size: 30px;
  }
  p {
    font-size: 12px;
  }
  header section a {
    font-size: 12px;
  }
  .avatarContainer {
    height: 80%;
    display: flex;
    margin: 0 auto;
  }
}
@media (max-width: 393px) {
  .avatarContainer {
    height: 70%;
    display: flex;
    margin: 0 auto;
  }
}
