.skills {
  height: 570px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills h2 {
  color: #005fee;
  font-size: 40px;
  padding-top: 20px;
}

.iconContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
  gap: 8em;
}
.iconContainer img {
  height: 150px;
}
