.about {
  height: 370px;
  color: #000;
  line-height: 2em;
  letter-spacing: 0.1em;
}
.about h2 {
  color: #005fee;
  padding: 25px 0px 0px 102px;
  font-size: 40px;
  font-weight: bold;
}
.about p {
  padding-top: 27px;
  font-size: 20px;
  max-width: 80%;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .about {
    line-height: 1em;
  }
  .about h2 {
    text-align: center;
    padding: 20px 0 0 0;
  }
  .about p {
    text-align: center;
    font-size: 12px;
  }
}
@media (max-width: 393px) {
  .about p {
    text-align: center;
    font-size: 9px;
    font-weight: bold;
  }
}
