.contact {
  height: 300px;
  background-color: #d9d9d9;
  text-align: center;
}
.contact h2 {
  padding-top: 1em;
  font-size: 40px;
  color: #005fee;
}
.contact div {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10em;
}
@media (max-width: 480px) {
  .contact h2 {
    padding: 0.4em 0;
  }
  .contact div {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}
