.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
  padding: 0 4em;
  text-align: center;
}
.container a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container a h2 {
  font-size: 17px;
}

.logoIcon {
  font-size: 24px;
  color: #005fee;
}
.header nav ul {
  display: flex;
  gap: 3em;
  font-size: 20px;
}
.header nav ul a {
  border-bottom: 1px solid transparent;
  transition: 0.2s ease-in;
}
.header nav ul a:hover {
  border-bottom: 1px solid #ccc;
  color: #ccc;
}

.header .container a {
  text-align: center;
  display: flex;
  height: 20px;
}
.header .downloadCv {
  background-color: #005fee;
  padding: 0.5em 2.5em;
  border-radius: 20px;
  color: #fff;
  border: 1px solid transparent;
}
.header .downloadCv:hover {
  border: 1px solid #000;
  color: #000;
}
